.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.debtor {
	-fx-text-fill: red;
}

.creditor {
	-fx-text-fill: green;
}